{% extends "dashoard/base.html" %}
{% block title %}
    <title>Dashboard - Ajouter un employé</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="../../static/dashboard/css/addemployee.css">
    <link href="../../static/dashboard/css/sb-admin-2.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

    <form action="{% url 'ajouter Employe' %}" method="post">
        {% csrf_token %}
        <div class="form">

            <div class="content">
                <div id="svg_wrap"></div>

                <section>
                    <a href="#IP" data-toggle="collapse">
                        Informations d'identité
                        <hr style="width: 200px;">
                    </a>

                    <div id="IP" class="collapse">
                        <label class="label">
                            <span class="span">Nom</span>
                            <input type="text" class="input" name="nom" required>
                        </label>

                        <label class="label">
                            <span class="span">Prénom(s)</span>
                            <input type="text" class="input" name="prenoms" required>
                        </label>

                        <div class="select is-rounded">
                            <label class="label">
                                <span class="span">Sexe</span><br>
                                <select name="sexe">
                                    <option>F</option>
                                    <option>M</option>
                                </select>
                            </label>
                        </div>

                        <label class="label">
                            <span class="span">Date de naissance</span>
                            <input class="input" type="date" name="birthday">
                        </label>
                        <label class="label">
                            <span class="span">Adresse de résidence</span>
                            <input type="text" class="input" name="adresse">
                        </label>

                        <div class="control has-icons-left">
                            <div class="select is-rounded">
                                <label class="label">
                                    <span class="span">Pays de résidence</span>
                                    <div>
                                        <i class="fas fa-globe"></i>
                                        <select name="pays">
                                            <option>Bénin</option>
                                            <option>Ghana</option>
                                            <option>Togo</option>
                                            <option>Nigeria</option>
                                        </select>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <label class="label">
                            <span class="span">Ville</span>
                            <input type="text" class="input" name="ville">
                        </label>
                    </div>
                </section>

                <section>
                    <a href="#Ad" data-toggle="collapse">
                        Statut & Contacts
                        <hr style="width: 80px;">
                    </a>

                    <div id="Ad" class="collapse">
                        <label class="label">
                            <span class="span">N° CIN</span>
                            <input class="input" type="number" name="cin" maxlength="9" MIN="0">
                        </label>

                        <div class="select is-rounded">
                            <label class="label">
                                <span class="span">Status matrimoniel</span>
                                <select name="statusMat">
                                    <option>Célibataire</option>
                                    <option>En couple</option>
                                    <option>Marié(e)</option>
                                    <option>Divorcé(e)</option>
                                </select>
                            </label>
                        </div>

                        <label class="label">
                            <span class="span">Enfants</span>
                            <input class="input" type="number" name="enfants" min="0">
                        </label>

                        <label class="label">
                            <span class="span">Téléphone</span>
                            <input class="input" type="tel" name="mobile">
                        </label>

                        <label class="label">
                            <span class="span">Contact d'urgence</span>
                            <input class="input" type="text" name="contactUrgence">
                        </label>

                        <label class="label">
                            <span class="span">Numéro du contact d'urgence</span>
                            <input class="input" type="tel" name="telUrgence">
                        </label>
                    </div>
                </section>

                <section>
                    <a href="#IC" data-toggle="collapse">
                        Informations de dossier
                        <hr style="width: 170px;">
                    </a>

                    <div id="IC" class="collapse">
                        <label class="label">
                            <span class="span">Filière</span>
                            <input class="input" type="text" name="filiere">
                        </label>

                        <label class="label">
                            <span class="span">CV</span>
                            <input class="input" type="file" name="cv">
                        </label>

                        <label class="label">
                            <span class="span">Lettre de recommandation</span>
                            <input class="input" type="file" name="recommandation">
                        </label>

                        <label class="label">
                            <span class="span">Lettre de motivation</span>
                            <input class="input" type="file" name="motivation">
                        </label>

                        <label class="label">
                            <span class="span">demande d'emploi</span>
                            <input class="input" type="file" name="emploi">
                        </label>
                    </div>
                </section>

                <section>
                    <a href="#AI" data-toggle="collapse">Statut & Poste</a>
                    <hr style="width: 160px;">
                    <div id="AI" class="collapse">
                        <label class="label">
                            <span class="span">Statut</span><br>
                            <select name="TypeUtil">
                                <option>Employé</option>
                                <option>Stagiaire</option>
                            </select>
                        </label>

                        <label class="label">
                            <span class="span">Tél. Fixe</span>
                            <input class="input" type="tel" name="fixe">
                        </label>

                        <div class="select is-rounded">
                            <label class="label">
                                <span class="span">Département</span>
                                <select name="departement" style="max-width: 250px">
                                    <option style="font-style: italic" selected disabled>--Département--</option>
                                    <option>Direction</option>
                                    <option>Service Comptabilité</option>
                                    <option>Ressources Humaines</option>
                                    <option>Production et Développement</option>
                                    <option>Service IT</option>
                                    <option>Communication et Marketing</option>
                                    <option>Service Commercial</option>
                                    <option>Service Juridique</option>
                                </select>
                            </label>
                        </div>

                        <div class="select is-rounded">
                            <label class="label">
                                <span class="span">Fonction</span>
                                <select name="fonction" style="max-width: 250px">
                                    <option style="font-style: italic" selected disabled>--Fonction--</option>
                                    <option>Développeur(euse) Front-End</option>
                                    <option>Développeur(euse) Back-End</option>
                                    <option>Développeur(euse) Full Stack</option>
                                    <option>Graphiste</option>
                                    <option>Maintenancier</option>
                                    <option>Community Manager</option>
                                    <option>Chargé(e) de Communication</option>
                                    <option>Gestionnnaire Comptable</option>
                                    <option>Assistant(e) Gestionnaire Comptable</option>
                                    <option>Auditeur(trice)</option>
                                    <option>Commissaire aux comptes</option>
                                    <option>Juriste</option>
                                    <option>Directeur(trice) des Ressources Humaines</option>
                                    <option>Assistant(e) de direction des Ressources Humaines</option>
                                    <option>Directeur(trice) Général(e)</option>
                                    <option>Assistant(e) de Direction Générale</option>
                                    <option>Directeur(trice) Commercial(e)</option>
                                    <option>Assistant(e) de Direction Commercial(e)</option>
                                </select>
                            </label>
                        </div>

                        <label class="label">
                            <span class="span">E-mail</span>
                            <input class="input" type="email" name="email">
                        </label>
                    </div>

                </section>

                <section>

                    <a href="#Dos" data-toggle="collapse">
                        Contrat & Durée
                        <hr style="width: 70px;">
                    </a>

                    <div id="Dos" class="collapse">
                        <label class="label">
                            <span class="span">Superviseur</span>
                            <input class="input" type="text" name="superviseur">
                        </label>

                        <label class="label">
                            <span class="span">Type de contract</span>
                            <select name="contrat">
                                <option>Contrat à durée Déterminée</option>
                                <option>Contrat à durée Indéterminée</option>
                                <option>Convention de stage</option>
                                <option>Contrat de Prestation</option>
                            </select>
                        </label>

                        <label class="label">
                            <span class="span">Date d'entrée (Fonction)</span>
                            <input class="input" type="date" name="debutContrat" required>
                        </label>

                        <label class="label">
                            <span class="span">Date de Sortie (Fonction)</span>
                            <input class="input" type="text" name="finContrat">
                        </label>
                    </div>
                </section>

                <section>

                    <a href="#ICon" data-toggle="collapse">
                        Informations de Connexion
                    </a>

                    <hr style="width: 200px;">

                    <div id="ICon" class="collapse">
                        <label class="label">
                            <span class="span">Pseudo</span>
                            <input class="input" type="text" name="username" required>
                        </label>

                        <label class="label">
                            <span class="span">Mot de passe</span>
                            <input class="input" type="password" name="password1" required>
                        </label>

                        <label class="label">
                            <span class="span">Confirmer le mot de passe</span>
                            <input class="input" type="password" name="password2" required>
                        </label>
                    </div>
                </section>

                <button type="submit" class="add submit">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </form>
{% endblock %}