{% extends "dashoard/base.html" %}
{% block title %}
    <title>Dashboard - Accueil</title>
{% endblock %}
{% block content %}
<!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Notes de Service</h1>
    </div>

    <div class="row">

            {% for listeNote in listeNotes %}
                <div class="col-lg-6">
                <!-- Collapsable Card Example -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary" style="text-decoration: underline; text-transform: uppercase">{{ listeNote.Code_Note }}</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show">
                        <div class="card-body"> <strong style="font-size:large; text-decoration: underline; text-transform: uppercase">{{ listeNote.Titre }}</strong> <br> {{ listeNote.Contenu }}</div>
                    </div>
                </div>
                </div>
            {% endfor %}

    </div>
{% endblock %}