<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard - Login</title>

    <!-- Custom fonts for this template-->
    <link href="../../static/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../static/src/css/formulaire.css" rel="stylesheet">
    <link href="../../static/src/css/style.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Connexion</h1>
                                </div>
                                <form action="{% url 'connexion' %}" method="post" class="user">
                                    {% csrf_token %}
                                    <label class="form-group label">
                                        <span class="span">Pseudo</span>
                                        <input type="text" class="input" name="username">
                                    </label>
                                    <label class="form-group label">
                                        <span class="span">Mot de passe</span>
                                        <input type="password" class="input" name="password">
                                    </label>
                                    <button href="{% url 'espace utilisateur' %}" class="bouton submit">
                                        Se connecter
                                    </button>
                                    <hr>
                                    <button href="#" class="bouton google">
                                        <i class="fab fa-google fa-fw"
                                           style="border: white solid 1px; border-radius: 50%; height: 21px; width: 21px; padding-top: 2px; padding-left: 1px;"></i>
                                        Se connecter avec Google
                                    </button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{% url 'Mot de passe oublie' %}">Mot de passe oublié ?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{% url 'inscription' %}">S'enregistrer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="../../static/dashboard/vendor/jquery/jquery.min.js"></script>
<script src="../../static/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../static/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../../static/src/js/formulaire.js"></script>

</body>

</html>