{% extends "dashoard/base.html" %}

{% block title %}
    <title>Dashboard - Permissions</title>
{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="../../static/dashboard/css/permissions.css">
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Demandes de permission</h6>
    </div>
    <div class="card-body row">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align: center">
                <thead>

                    <!-- Entête du tableau des permissions -->
                    <tr>
                        <th>N°</th>
                        <th>Permissionnaire</th>
                        <th>Demandée le</th>
                        <th>Pour la période</th>
                        <th>Motif</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in listePermis %}

                        <!-- Informations sur la permission -->
                        <tr>

                            <!-- Numéro de la permission -->
                            <th scope="row">{{ list.Code_Permission }}</th>

                            <!-- Permissionnaire -->
                            <td>{{ list.Permissionnaire }}</td>

                            <!-- Date de demande de la permission -->
                            <td>{{ list.Date_Permission }}</td>

                            <!-- Période de la permission -->
                            <td>Du <strong>{{ list.Date_Debut }}</strong> à <strong>{{ list.heure_Debut }}</strong><br> au <br><strong>{{ list.Date_Fin }}</strong> à <strong>{{ list.heure_Fin }}</strong></td>

                            <!-- Motif de la permission -->
                            <td>{{ list.Motif }}</td>

                            <!-- Buttons de validation -->
                            <td>
                                {% if list.Status == "En attente" or list.Status == "None" %}
                                    <!-- Button pour valider la demande -->
                                    <button style="margin-right: 10px" title="Valider" type="button" class="btn btn-success" ><a href="/validate/{{ list.Code_Permission }}"> <i style="color: white" class="fas fa-check"></i> </a></button>

                                    <!-- Button pour rejeter la demande -->
                                    <button title="Rejeter" type="button" class="btn btn-danger" > <a href="/reject/{{ list.Code_Permission }}"> <i style="color: white" class="fas fa-times"></i> </a> </button>

                                {% else %}
                                    {{ list.Status }}
                                {% endif %}

                            </td>
                          </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <!-- Page level plugins -->
    <script src="../../static/dashboard/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../../static/dashboard/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../../static/dashboard/js/demo/datatables-demo.js"></script>
{% endblock %}