{% extends "dashoard/base.html" %}

{% block title %}
<title>Dashboard - Point Présence</title>
{% endblock %}

{% block content %}

<!-- Page Heading -->

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Table de présence</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Employés</th>
                        <th>Heure d'Arrivée</th>
                        <th>Heure de Début de Pause</th>
                        <th>Heure de fin de Pause</th>
                        <th>Heure de Départ</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Employés</th>
                        <th>Heure d'Arrivée</th>
                        <th>Heure de Début de Pause</th>
                        <th>Heure de fin de Pause</th>
                        <th>Heure de Départ</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for lst in listeP %}
                        <tr>
                            <td>{{ lst.employe }}</td>
                            <td>{{ lst.heureArrivee }}</td>
                            <td>{{ lst.debutPause }}</td>
                            <td>{{ lst.finPause }}</td>
                            <td>{{ lst.heureDepart }}</td>
                        </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}
{% block script %}
    <!-- Page level plugins -->
    <script src="../../static/dashboard/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../../static/dashboard/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../../static/dashboard/js/demo/datatables-demo.js"></script>
{% endblock %}