{% extends "dashoard/base.html" %}
{% block title %}
    <title>Dashboard - Présence</title>
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <h2 style="text-align: center;">
        Cliquez pour scanner le codeQR
        <br>
        <br>
        <i class="fas fa-arrow-down"></i>
    </h2>

    <!-- Page Heading -->
    <button type="button" class="btn btn-primary" style="display: block;position: relative;top:auto;bottom: auto;margin: auto;">
        <a style="color: aliceblue;" href="{% url 'scan qr'%}"><i class="fas fa-qrcode fa-10x"></i></a>
    </button>
{% endblock %}