{% extends "dashoard/base.html" %}
{% block title %}
    <title xmlns:color="http://www.w3.org/1999/xhtml">Dashboard - Présence</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../../static/dashboard/css/buttonqr.css">
    <link rel="stylesheet" href="../../static/dashboard/css/illustrations.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <!-- QR Code Start Work Day Button -->
    <div type="button" class="btn buttonCli" style="display: block;position: relative;top:auto;bottom: auto;margin: auto; border-radius: 25px; height:150px; width: 150px;">
        <a style="color: aliceblue;" href="{% url 'scan qr'%}">
            <img src="../../static/dashboard/img/qr_code_flatline.svg" class="svg-btn">
        </a>
    </div>

    <br>

        <section class="pause">
        <!-- Rest Starting Button -->
        <button title="Début de pause" type="button" class="btn btn-success buttonCli" style="display: block;position: relative;top:auto;bottom: auto; border-radius: 50px; height: 100px; width: 100px; margin-left: 10%">
        <a href="{% url 'debutpause'%}" style="color: aliceblue">
            <i class="fas fa-hamburger fa-2x"></i> <i class="fas fa-pizza-slice fa-2x"></i><br>
            <i class="fas fa-apple-alt fa-2x"></i> <i class="fas fa-pepper-hot fa-2x"></i>
        </a>
        </button>

        <!-- Rest Ending Button -->
        <button title="Fin de pause" type="button" class="btn btn-danger buttonCli" style="display: block;position: relative;top:auto;bottom: auto; border-radius: 50px; height: 100px; width: 100px; margin-left: 80%; top: -100px">
        <a href="{% url 'finpause'%}" style="color: aliceblue">
            <i class="fas fa-hamburger fa-2x"></i> <i class="fas fa-pizza-slice fa-2x"></i><br>
            <i class="fas fa-apple-alt fa-2x"></i> <i class="fas fa-pepper-hot fa-2x"></i>
        </a>
        </button>
    </section>

    <br>

    <!-- QR Code End Work Day Button -->
    <button type="button" class="btn btn-primary buttonCli" style="display: block;position: relative;top:auto;margin: auto; border-radius: 30px; height: 150px; width: 150px">
        <a style="color: aliceblue;" href="{% url 'depart'%}"><i class="fas fa-door-open fa-6x"></i></a>
    </button>

{% endblock %}