{% extends "dashoard/base.html" %}
{% block title %}
    <title>Dashboard - Nouvelle note de service</title>
{% endblock %}
{% block content %}
<!-- Page Heading -->
    <link rel="stylesheet" href="../../static/dashboard/css/service-notes.css">
    <form action="{% url 'ajouter' %}" method="post">
        {% csrf_token %}

        <div class="form">
            <h2>NOTE DE SERVICE</h2>
            <label class="label">
                <span class="span">Code de la Note</span>
                <input type="text" name="codenote" class="input" placeholder="N°XXX/MM/YYYY/OSSPO/DEP" maxlength="30" required>
            </label>

            <label class="label">
                <span class="span">Intitulé</span>
                <input type="text" name="titre" class="input" required>
            </label>

            <label class="label">
                <span class="span">Contenu</span>
                <textarea type="text" name="contenu" rows='3' data-min-rows='3'
                          style="display: block;
                                 background-color: rgb(148, 201, 245);
                                 padding: 10px;
                                 width: 270px;
                                 font-size: 14px;
                                 margin: 5px auto;
                                 border-radius: 6px;
                                 box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
                                 border: 0;" class="input autoExpand" required></textarea>
            </label>
            <a>
                <button type="submit" class="notes submit">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </a>
        </div>
    </form>

    <script>
        $(document)
            .one('focus.autoExpand', 'textarea.autoExpand', function() {
                var savedValue = this.value;
                this.value = '';
                this.baseScrollHeight = this.scrollHeight;
                this.value = savedValue;
            })
            .on('input.autoExpand', 'textarea.autoExpand', function() {
                var minRows = this.getAttribute('data-min-rows') | 0,
                    rows;
                this.rows = minRows;
                rows = Math.ceil((this.scrollHeight - this.baseScrollHeight) / 16);
                this.rows = minRows + 3;
            });
    </script>
{% endblock %}