<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--CSS-->
    <link rel="stylesheet" href="../static/bulma/node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="../static/src/css/form.css">
    <!--end CSS-->

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
    <!--fonts-->

</head>

<body>

    <div class="bg-img">
        <!--header-->

        <header class="header">
            <a href="{% url 'accueil' %}" class="header-logo">
                <img src="../static/src/img/osspo_logo.png" class="logo" alt="logo">
            </a>
            <nav class="header-menu">
                <a class="button header-button" href="{% url 'accueil' %}">
                    <i class="fas fa-home icon" title="Accueil"></i>
                </a>

                <!--signin-->

                <a class="button header-button" id="signin_btn" href="{% url 'connexion' %}">
                    <i class="fas fa-sign-in-alt icon" title="Connexion"></i>
                </a>

                <!--signup-->

                <a class="button header-button" id="signup_btn" href="{% url 'inscription' %}">
                    <i class="fas fa-user-plus icon" title="Inscription"></i>
                </a>
            </nav>
        </header>

        <!--end header-->

        <!--banner-->
        <div class="">
            <form action="{% url 'inscription' %}" method="post">
                {% csrf_token %}
                <div class="content">
                    <div id="svg_wrap"></div>

                    <section>
                        <p>Informations personnelles</p>
                        <hr>
                        <label>
                            <input type="text" name="nom" placeholder="Nom" required>
                        </label>
                        <label>
                            <input type="text" name="prenoms" placeholder="Prénom(s)" required>
                        </label>
                        <div class="select is-rounded">
                            <label>
                                <select required name="sexe" title="Sélectionner le sexe">
                                    <option style="font-style: italic" selected disabled>--Sélectionner le sexe--</option>
                                    <option>M</option>
                                    <option>F</option>
                                </select>
                            </label>
                        </div>
                        <label>
                            <input type="date" name="birthday" required title="Date d'anniversaire">
                        </label>
                    </section>

                    <section>
                        <p>Adresses et contacts</p>
                        <hr>
                        <label>
                            <input type="text" name="adresse" placeholder="Adresse de résidence" required>
                        </label>
                        <label>
                            <input type="email" name="email" placeholder="E-mail" required>
                        </label>
                        <label>
                            <input type="text" name="ville" placeholder="Ville" required>
                        </label>
                        <div class="control has-icons-left">
                            <div class="select is-rounded">
                                <label>
                                    <select required name="pays" title="Pays de résidence">
                                        <option style="font-style: italic" selected disabled>--Pays--</option>
                                        <option>Bénin</option>
                                        <option>Ghana</option>
                                        <option>Togo</option>
                                        <option>Nigeria</option>
                                    </select>
                                </label>
                            </div>
                            <div class="icon is-small is-left">
                                <i class="fas fa-globe"></i>
                            </div>
                        </div>
                        <label>
                            <input type="tel" name="mobile" placeholder="Mobile" required>

                        </label>
                    </section>

                    <section>
                        <p>Contact en cas d'urgence</p>
                        <hr>
                        <label>
                            <input type="text" name="contactUrgence" placeholder="Contact d'urgence" required>
                        </label>
                        <label>
                            <input type="tel" name="telUrgence" placeholder="Numéro du contact d'urgence" required>
                        </label>
                    </section>

                    <section>
                        <p>Autres informations</p>
                        <hr>
                        <label>
                            <input type="number" name="cin" placeholder="N° CIN" required maxlength="9">
                        </label>
                        <div class="select is-rounded">
                            <label>
                                <select required name="statusMat" required title="Status matrimoniel">
                                    <option style="font-style: italic" selected disabled>--Status Matrimoniel--</option>
                                    <option>Célibataire</option>
                                    <option>En couple</option>
                                    <option>Marié(e)</option>
                                    <option>Divorcé(e)</option>
                                </select>
                            </label>
                        </div>
                        <label>
                            <input type="number" name="enfants" placeholder="Enfants" min="0" required>
                        </label>
                        <label>
                            <input type="tel" name="fixe" placeholder="Tél. Fixe">
                        </label>
                        <div class="select is-rounded">
                            <label>
                                <select required name="departement" required title="Département">
                                    <option style="font-style: italic"selected disabled>--Département--</option>
                                    <option >Direction</option>
                                    <option>Service Comptabilité</option>
                                    <option>Ressources Humaines</option>
                                    <option>Production et Développement</option>
                                    <option>Service IT</option>
                                    <option>Communication et Marketing</option>
                                    <option>Service Commercial</option>
                                    <option>Service Juridique</option>
                                </select>
                            </label>
                        </div>
                        <div class="select is-rounded">
                            <label>
                                <select required name="fonction" required title="Fonction">
                                    <option style="font-style: italic" selected disabled>--Fonction--</option>
                                    <option>Développeur(euse) Front-End</option>
                                    <option>Développeur(euse) Back-End</option>
                                    <option>Développeur(euse) Full Stack</option>
                                    <option>Graphiste</option>
                                    <option>Maintenancier</option>
                                    <option>Community Manager</option>
                                    <option>Chargé(e) de Communication</option>
                                    <option>Gestionnnaire Comptable</option>
                                    <option>Assistant(e) Gestionnaire Comptable</option>
                                    <option>Auditeur(trice)</option>
                                    <option>Commissaire aux comptes</option>
                                    <option>Juriste</option>
                                    <option>Directeur(trice) des Ressources Humaines</option>
                                    <option>Assistant(e) de direction des Ressources Humaines</option>
                                    <option>Directeur(trice) Général(e)</option>
                                    <option>Assistant(e) de Direction Générale</option>
                                    <option>Directeur(trice) Commercial(e)</option>
                                    <option>Assistant(e) de Direction Commercial(e)</option>
                                </select>
                            </label>
                        </div>
                        <input type="file" name="demande" title="Demande d'emploi" required>
                    </section>

                    <section>
                        <p>Dossier</p>
                        <hr>
                        <label>
                            <input type="text" name="filiere" placeholder="Filière" required>
                        </label>
                        <input type="file" name="cv" title="CV">
                        <input type="file" name="recommandation" title="Lettre de recommandation" required>
                        <input type="file" name="motivation" title="Lettre de motivation" required>
                    </section>

                    <section>
                        <p> <strong>Informations de Connexion</strong></p>
                        <hr>
                        <label>
                            <input type="text" name="username" placeholder="E-mail ou Pseudo" required>
                        </label>
                        <label>
                            <input type="password" name="password1" placeholder="Mot de passe" required>
                        </label>
                        <label>
                            <input type="password" name="password2" placeholder="Confirmez le mot de passe" required>
                        </label>
                        <label>
                            <input type="checkbox" name="accept" required>
                        </label> J'accepte les conditions
                    </section>

                    <div class="button left" id="prev">
                        <i class="fas fa-arrow-circle-left icon"></i>
                    </div>
                    <div class="button right" id="next">
                        <i class="fas fa-arrow-circle-right icon"></i>
                    </div>
                    <div  id="submit">
                       <input class="button" type="submit" value="J'accepte et je valide">
                    </div>
                </div>
            </form>
        </div>
        <!--end banner-->

        <script src="../static/jquery/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../static/src/js/form.js"></script>
        <script src="../static/src/js/main.js"></script>
    </div>

</body>

</html>