<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <!-- CSS and Fonts-->
    <link href="../../static/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../static/bulma/node_modules/bulma/css/bulma.min.css">
    <title>Error</title>
</head>

<body style="height: 100vh;  background: url(../../static/dashboard/vendor/fontawesome-free/svgs/regular/frown.svg) no-repeat center rgba(0, 0, 0, 0.411);">
    <div class="modal-card-body " style="margin-left: auto; margin-right: auto; max-width: 400px; width: auto; background-color: transparent;">
        <article class="message is-danger" style="margin-top: 50%; background-color: rgba(255, 255, 255, 0.78);">
            <div class="message-header">
                <p>Erreur</p>
                <a type="button " class="delete " aria-label="delete " onclick="history.back() "></a>
            </div>
            <div class="message-body" style="text-align: center;">
                <i class="far fa-frown "></i> Ooups !
                <br> Quelque chose s'est mal passé
            </div>
        </article>
    </div>
</body>

</html>